@import "~bootstrap/dist/css/bootstrap.min.css";

.layout {
  background: #11191f;
}

.alert {
  border: 3px solid transparent;
  border-radius: .3rem;
}

.alert-primary {
  color: whitesmoke;
  font-size: 1.15em;
  background-color: #454d55;
  border-color: #673ab7;
}
